{% extends 'web_report_card/base.html' %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h6>UPLOAD MULTIPLE IMAGES NOW</h6>
    <br>
    <form enctype='multipart/form-data' action="{% url 'web_report_card:test-dropzone' %}"
          method='POST' class="dropzone dz container" id="my-dropzone">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>

            <div class="row justify-content-end">
                <div class="col align-self-end">
                    <button type="submit" id="button" class="btn btn-primary">Главный</button>
                    {#                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}#}
                </div>

                {#        <button type="submit">Click me</button>#}
            </div>
        <div class="fallback">

        </div>
    </form>

{% endblock %}
